Makefile
build/
*.pro.user*
qrc_resources.cpp
Makefile.Debug
Makefile.Release
object_script.pirateplayer.Release
object_script.pirateplayer.Debug
backup
android/assets/ffmpeg
android/bin/*
android/libs/*
android/local.properties
android/proguard-project.txt
*.qmlproject.user
src/gui/qml/deploy.sh
.DS_Store
