[Desktop Entry]
Type=Application
Name=Pirateplayer
Comment=Qt-based utility for watching and downloading swedish broadcasting
TryExec=pirateplayer
Exec=pirateplayer %F
Icon=pirateplayer